input {
  width: 400px;
  height: 40px;
  margin: 10px;
  border-radius: 100px;
  color: #003BE5;
  text-align: center;  
}


input::placeholder{
  color: #003BE5;
  text-align: center;
}


button {
  width: 400px;
  height: 40px;
  margin: 10px;
  border-radius: 100px;
  background-color: #003BE5;
  color: white;
}


button:hover {
  background-color: #0039e5b3;
}


.container-login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.login {
  background-color: white;
  width: 750px;
  height: 450px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

