input[type= 'checkbox'] {
  appearance: none;
}


.container-heart input {
  width: 25px;
}

.heart {
  position: relative;
  right: 50%;
  bottom: 5px;
}

.carregando-album {
  display: flex;
  padding: 25px;
  position: relative;
  left: 20%
  ;
}