.img-album {
  width: 250px;
  height: 250px;
}


.container-image {
  color: white;
  display: flex;
  margin-top: -100px;
  margin-left: 10%;
  position: fixed;
  z-index: 3;
}


.container-image .container-image-p {
  padding: 20px;
}


.container-image-p {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 290px;
}


.musics-artist {
  margin-left: 50%;
  z-index: 0;
}


.music-track-id {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 20px;
  padding: 10px;
  border: 1px solid #00D5E2;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 700px;
  max-width: 100%;
}


.music-track-id p {
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0;
  width: 100px;
}


.music-track-id audio {
  width: 300px;
  margin-bottom: 10px;
}


.music-track-id label {
  cursor: pointer;
}
