header {
  background-color: white;
  color: #444955;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}


a {
  margin-top: 25px;
}


.nav-link {
  color: #444955;
  display: flex;
  flex-direction: column;
  margin: 25px;
}


.img-p {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.img-p img {
  border-radius: 100px;
  width: 150px;
  height: 150px;
}